USE [master]
GO
/****** Object:  Database [agriveriler]    Script Date: 14.08.2026 01:44:01 ******/
CREATE DATABASE [agriveriler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'agriveriler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\agriveriler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'agriveriler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\agriveriler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [agriveriler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [agriveriler]
GO
/****** Object:  Table [dbo].[diyadinkoyler]    Script Date: 14.08.2026 01:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diyadinkoyler](
	[koyadlari] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dogubeyazitkoyler]    Script Date: 14.08.2026 01:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dogubeyazitkoyler](
	[koyadlari] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eleskirtkoyler]    Script Date: 14.08.2026 01:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eleskirtkoyler](
	[koyadlari] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gezilecekyerler]    Script Date: 14.08.2026 01:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gezilecekyerler](
	[yeradi] [nvarchar](max) NULL,
	[tarihi] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hamurkoyler]    Script Date: 14.08.2026 01:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hamurkoyler](
	[koyadlari] [nchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[merkezkoyler]    Script Date: 14.08.2026 01:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[merkezkoyler](
	[koyadlari] [nchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nufusbilgileri]    Script Date: 14.08.2026 01:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nufusbilgileri](
	[yeradi] [nchar](15) NULL,
	[nüfusu] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patnoskoyler]    Script Date: 14.08.2026 01:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patnoskoyler](
	[koyadlari] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taslicaykoyler]    Script Date: 14.08.2026 01:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taslicaykoyler](
	[koyadlari] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tutakkoyler]    Script Date: 14.08.2026 01:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tutakkoyler](
	[koyadlari] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yemekler]    Script Date: 14.08.2026 01:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yemekler](
	[yemekadlari] [varchar](max) NULL,
	[yemektarifleri] [text] NULL,
	[mekan] [text] NULL,
	[resimyolu] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[diyadinkoyler] ([koyadlari]) VALUES (N'Adakent                       ')
INSERT [dbo].[diyadinkoyler] ([koyadlari]) VALUES (N'Ağaçlı                        ')
INSERT [dbo].[diyadinkoyler] ([koyadlari]) VALUES (N'Akbulut                       ')
GO
INSERT [dbo].[dogubeyazitkoyler] ([koyadlari]) VALUES (N'Açıkdüz                                           ')
INSERT [dbo].[dogubeyazitkoyler] ([koyadlari]) VALUES (N'Adakent                                           ')
INSERT [dbo].[dogubeyazitkoyler] ([koyadlari]) VALUES (N'Ağaver                                            ')
GO
INSERT [dbo].[eleskirtkoyler] ([koyadlari]) VALUES (N'Abdiköy                       ')
INSERT [dbo].[eleskirtkoyler] ([koyadlari]) VALUES (N'Akyumak                       ')
INSERT [dbo].[eleskirtkoyler] ([koyadlari]) VALUES (N'Alagün                        ')
GO
INSERT [dbo].[gezilecekyerler] ([yeradi], [tarihi]) VALUES (N'İshak Paşa Sarayı', N'Ağrı Dağı’nın hemen yanı başında Doğubayazıt ilçe merkezinde yalçın dağ lar arasında tek başına duran İshakpaşa Sarayı, Osmanlı ve Selçuklu mimarisinin en güzel örneklerinden birini oluşturmaktadır. Yapımına 1685’te başlanan ve 99 yıl sonra Çıldır Valisi İshak Paşa ve oğlu Mehmet Paşa tarafından 1784’te bitirilen 116 odalı saray, 7.600 m2 alan üzerine kurulu olup dünyada kalorifer, su ve kanalizasyon teşkilatı olan ilk saraydır.')
INSERT [dbo].[gezilecekyerler] ([yeradi], [tarihi]) VALUES (N'Meteor Çukuru', N'60 mtetrelik derinliği ve 35 metrelikçapı ile dünyanın ikinci büyük meteor çukuru, Ağrı’nın Doğubayazıt ilçesinin 35 km doğusunda, Gürbulak Sınır Kapısı’nın hemen yanı başında yer almaktadır.')
GO
INSERT [dbo].[hamurkoyler] ([koyadlari]) VALUES (N'Adımova                       ')
INSERT [dbo].[hamurkoyler] ([koyadlari]) VALUES (N'Ağaçlı                        ')
INSERT [dbo].[hamurkoyler] ([koyadlari]) VALUES (N'Akbulut                       ')
GO
INSERT [dbo].[merkezkoyler] ([koyadlari]) VALUES (N'Ağılbaşı                                ')
INSERT [dbo].[merkezkoyler] ([koyadlari]) VALUES (N'Ahmetbey                                ')
INSERT [dbo].[merkezkoyler] ([koyadlari]) VALUES (N'Akbulgur                                ')
GO
INSERT [dbo].[nufusbilgileri] ([yeradi], [nüfusu]) VALUES (N'Toplam Nüfus   ', N'499801')
INSERT [dbo].[nufusbilgileri] ([yeradi], [nüfusu]) VALUES (N'Merkez         ', N'150602')
INSERT [dbo].[nufusbilgileri] ([yeradi], [nüfusu]) VALUES (N'Dogubeyazit    ', N'114769')
GO
INSERT [dbo].[patnoskoyler] ([koyadlari]) VALUES (N'Adakent                       ')
INSERT [dbo].[patnoskoyler] ([koyadlari]) VALUES (N'Ağca                          ')
INSERT [dbo].[patnoskoyler] ([koyadlari]) VALUES (N'Akçaören                      ')
GO
INSERT [dbo].[taslicaykoyler] ([koyadlari]) VALUES (N'Adakent                       ')
INSERT [dbo].[taslicaykoyler] ([koyadlari]) VALUES (N'Ağaver                        ')
INSERT [dbo].[taslicaykoyler] ([koyadlari]) VALUES (N'Akpınar                       ')
GO
INSERT [dbo].[tutakkoyler] ([koyadlari]) VALUES (N'Ağlıca                        ')
INSERT [dbo].[tutakkoyler] ([koyadlari]) VALUES (N'Akçay                         ')
INSERT [dbo].[tutakkoyler] ([koyadlari]) VALUES (N'Aşağıkarahalit                ')
GO
INSERT [dbo].[yemekler] ([yemekadlari], [yemektarifleri], [mekan], [resimyolu]) VALUES (N'Ağrı Yaprak Döneri', N'Ağrı’nın yöresel mutfak kültürünün en sevilen simgelerinden biri olan Ağrı Yaprak Döneri, odun ateşinde pişirilerek kendine özgü bir aroma ve tat kazanır.
Bu eşsiz lezzet, 2022 yılında aldığı tescille coğrafi işaretli ürünler listesine girmiştir. Ağrı’ya yolu düşenlerin mutlaka denemesi gereken özel tatlardan biridir.', N'Sultan Sofrası', N'C:\Users\User\Desktop\Mini Ağrı Projesi Resimler\yaprakdöneri.png')
INSERT [dbo].[yemekler] ([yemekadlari], [yemektarifleri], [mekan], [resimyolu]) VALUES (N'Abdigör Köftesi', N'Abdigör Köftesi, Ağrı’da mutlaka tadılması gereken lezzetler arasında yer alır. Dana veya kuzu etiyle hazırlanır.
Doğubayazıt bölgesine has olan bu yemek, aynı zamanda coğrafi işaretle tescillidir.', N'Ergül’ün Mutfağı', N'C:\Users\User\Desktop\Mini Ağrı Projesi Resimler\abdigorköftesi.png')
GO
USE [master]
GO
